.pace {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 92302;
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  /*transition: all 0.8s ease-out;
  transition: all 0.8s cubic-bezier(0, 0.99, 1, 1);*/
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.pace-active {
  opacity: 1;
}
.jf_pace_loaded {
  opacity: 0;
}
.jf_pace_leave {
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -ms-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  opacity: 1;
}
.pace-inactive {
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  height: 0%;
}
.pace-inactive #jf_preloader .status {
  opacity: 0;
}

.pace .pace-progress {
  background: #673ab7;
  position: fixed;
  z-index: 92402;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #673ab7, 0 0 5px #673ab7;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* START - CSS3 Anims For "#g-page-surround" ----*/
  /* START - jf_pace_moveUpWrapper */
    @-webkit-keyframes jf_pace_moveUpWrapper {
        from {-webkit-transform: translateY(300px);}
        to {-webkit-transform: translateY(0);}
    }
    @-moz-keyframes jf_pace_moveUpWrapper {
        from {-moz-transform: translateY(300px);}
        to {-moz-transform: translateY(0);}
    }
    @keyframes jf_pace_moveUpWrapper {
        from {transform: translateY(300px);}
        to {transform: translateY(0);}
    }
    .jf_pace_moveUpWrapper {
        -webkit-animation: jf_pace_moveUpWrapper 0.8s ease both;
        -moz-animation: jf_pace_moveUpWrapper 0.8s cubic-bezier(0,.4,.6,1) both;
        -ms-animation: jf_pace_moveUpWrapper 0.8s cubic-bezier(0,.4,.6,1) both;
        -o-animation: jf_pace_moveUpWrapper 0.8s cubic-bezier(0,.4,.6,1) both;
        animation: jf_pace_moveUpWrapper 0.8s cubic-bezier(0,.4,.6,1) both;
    }
  /* END   - jf_pace_moveUpWrapper */

  /* START - jf_animsition_moveDownWrapper */
    /*@-webkit-keyframes jf_animsition_moveDownWrapper {
        from {-webkit-transform: translateY(0);opacity:1;}
        to {-webkit-transform: translateY(800px);opacity:0;}
    }
    @-moz-keyframes jf_animsition_moveDownWrapper {
        from {-moz-transform: translateY(0);opacity:1;}
        to {-moz-transform: translateY(800px);opacity:0;}
    }
    @keyframes jf_animsition_moveDownWrapper {
        from {transform: translateY(0);opacity:1;}
        to {transform: translateY(800px);opacity:0;}
    }
    .jf_animsition_moveDownWrapper  {
        -webkit-animation: jf_animsition_moveDownWrapper  .8s cubic-bezier(0,.4,.6,1) both;
        -moz-animation: jf_animsition_moveDownWrapper  .8s cubic-bezier(0,.4,.6,1) both;
        -ms-animation: jf_animsition_moveDownWrapper  .8s cubic-bezier(0,.4,.6,1) both;
        -o-animation: jf_animsition_moveDownWrapper  .8s cubic-bezier(0,.4,.6,1) both;
        animation: jf_animsition_moveDownWrapper  .8s cubic-bezier(0,.4,.6,1) both;
    }
    */
    @-webkit-keyframes jf_animsition_moveDownWrapper {
        from {opacity:1;}
        to {opacity:0;}
    }
    @-moz-keyframes jf_animsition_moveDownWrapper {
        from {opacity:1;}
        to {opacity:0;}
    }
    @keyframes jf_animsition_moveDownWrapper {
        from {opacity:1;}
        to {opacity:0;}
    }
    .jf_animsition_moveDownWrapper  {
        -webkit-animation: jf_animsition_moveDownWrapper  .8s ease both;
        -moz-animation: jf_animsition_moveDownWrapper  .8s ease both;
        -ms-animation: jf_animsition_moveDownWrapper  .8s ease both;
        -o-animation: jf_animsition_moveDownWrapper  .8s ease both;
        animation: jf_animsition_moveDownWrapper  .8s ease both;
    }
  /* END   - jf_animsition_moveDownWrapper */

  /* START - jf_animsition_moveUpScaleWrapper */
    @-webkit-keyframes jf_animsition_moveUpScaleWrapper {
        from {-webkit-transform: translateY(200px) scale(.95);}
        to {-webkit-transform: translateY(0) scale(1);}
    }
    @-moz-keyframes jf_animsition_moveUpScaleWrapper {
        from {-moz-transform: translateY(200px) scale(.95);}
        to {-moz-transform: translateY(0) scale(1);}
    }
    @keyframes jf_animsition_moveUpScaleWrapper {
        from {transform: translateY(200px) scale(.95);}
        to {transform: translateY(0) scale(1);}
    }
    .jf_animsition_moveUpScaleWrapper {
        -webkit-animation: jf_animsition_moveUpScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
        -moz-animation: jf_animsition_moveUpScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
        -ms-animation: jf_animsition_moveUpScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
        -o-animation: jf_animsition_moveUpScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
        animation: jf_animsition_moveUpScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
    }
  /* END   - jf_animsition_moveUpScaleWrapper */

  /* START - jf_animsition_moveDownScaleWrapper */
    @-webkit-keyframes jf_animsition_moveDownScaleWrapper {
        from {-webkit-transform: translateY(200px) scale(1);}
        to {-webkit-transform: translateY(0) scale(.95);}
    }
    @-moz-keyframes jf_animsition_moveDownScaleWrapper {
        from {-moz-transform: translateY(200px) scale(1);}
        to {-moz-transform: translateY(0) scale(.95);}
    }
    @keyframes jf_animsition_moveDownScaleWrapper {
        from {transform: translateY(200px) scale(1);}
        to {transform: translateY(0) scale(.95);}
    }
    .jf_animsition_moveDownScaleWrapper {
        -webkit-animation: jf_animsition_moveDownScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
        -moz-animation: jf_animsition_moveDownScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
        -ms-animation: jf_animsition_moveDownScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
        -o-animation: jf_animsition_moveDownScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
        animation: jf_animsition_moveDownScaleWrapper .6s cubic-bezier(0,.4,.6,1) both;
    }
  /* END   - jf_animsition_moveDownScaleWrapper */
/* END   - CSS3 Anims For "#g-page-surround" ----*/


/* START - MATERIAL DESIGN LIGHT v1.0.6 - SPINNER ----*/
  /**
   * material-design-lite - Material Design Components in CSS, JS and HTML
   * @version v1.0.6
   * @license Apache-2.0
   * @copyright 2015 Google, Inc.
   * @link https://github.com/google/material-design-lite
   */
  .mdl-spinner {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px; }
    .mdl-spinner:not(.is-upgraded).is-active:after {
      content: "Loading..."; }
    .mdl-spinner.is-upgraded.is-active {
      -webkit-animation: mdl-spinner__container-rotate 1568.23529412ms linear infinite;
              animation: mdl-spinner__container-rotate 1568.23529412ms linear infinite; }

  @-webkit-keyframes mdl-spinner__container-rotate {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }

  @keyframes mdl-spinner__container-rotate {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }

  .mdl-spinner__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }

  .mdl-spinner__layer-1 {
    border-color: rgb(66,165,245); }
    .mdl-spinner--single-color .mdl-spinner__layer-1 {
      border-color: rgb(63,81,181); }
    .mdl-spinner.is-active .mdl-spinner__layer-1 {
      -webkit-animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, mdl-spinner__layer-1-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
              animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, mdl-spinner__layer-1-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

  .mdl-spinner__layer-2 {
    border-color: rgb(244,67,54); }
    .mdl-spinner--single-color .mdl-spinner__layer-2 {
      border-color: rgb(63,81,181); }
    .mdl-spinner.is-active .mdl-spinner__layer-2 {
      -webkit-animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, mdl-spinner__layer-2-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
              animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, mdl-spinner__layer-2-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

  .mdl-spinner__layer-3 {
    border-color: rgb(253,216,53); }
    .mdl-spinner--single-color .mdl-spinner__layer-3 {
      border-color: rgb(63,81,181); }
    .mdl-spinner.is-active .mdl-spinner__layer-3 {
      -webkit-animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, mdl-spinner__layer-3-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
              animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, mdl-spinner__layer-3-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

  .mdl-spinner__layer-4 {
    border-color: rgb(76,175,80); }
    .mdl-spinner--single-color .mdl-spinner__layer-4 {
      border-color: rgb(63,81,181); }
    .mdl-spinner.is-active .mdl-spinner__layer-4 {
      -webkit-animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, mdl-spinner__layer-4-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
              animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, mdl-spinner__layer-4-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

  @-webkit-keyframes mdl-spinner__fill-unfill-rotate {
    12.5% {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    25% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    37.5% {
      -webkit-transform: rotate(405deg);
              transform: rotate(405deg); }
    50% {
      -webkit-transform: rotate(540deg);
              transform: rotate(540deg); }
    62.5% {
      -webkit-transform: rotate(675deg);
              transform: rotate(675deg); }
    75% {
      -webkit-transform: rotate(810deg);
              transform: rotate(810deg); }
    87.5% {
      -webkit-transform: rotate(945deg);
              transform: rotate(945deg); }
    to {
      -webkit-transform: rotate(1080deg);
              transform: rotate(1080deg); } }

  @keyframes mdl-spinner__fill-unfill-rotate {
    12.5% {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    25% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    37.5% {
      -webkit-transform: rotate(405deg);
              transform: rotate(405deg); }
    50% {
      -webkit-transform: rotate(540deg);
              transform: rotate(540deg); }
    62.5% {
      -webkit-transform: rotate(675deg);
              transform: rotate(675deg); }
    75% {
      -webkit-transform: rotate(810deg);
              transform: rotate(810deg); }
    87.5% {
      -webkit-transform: rotate(945deg);
              transform: rotate(945deg); }
    to {
      -webkit-transform: rotate(1080deg);
              transform: rotate(1080deg); } }

  /**
  * HACK: Even though the intention is to have the current .mdl-spinner__layer-N
  * at `opacity: 1`, we set it to `opacity: 0.99` instead since this forces Chrome
  * to do proper subpixel rendering for the elements being animated. This is
  * especially visible in Chrome 39 on Ubuntu 14.04. See:
  *
  * - https://github.com/Polymer/paper-spinner/issues/9
  * - https://code.google.com/p/chromium/issues/detail?id=436255
  */
  @-webkit-keyframes mdl-spinner__layer-1-fade-in-out {
    from {
      opacity: 0.99; }
    25% {
      opacity: 0.99; }
    26% {
      opacity: 0; }
    89% {
      opacity: 0; }
    90% {
      opacity: 0.99; }
    100% {
      opacity: 0.99; } }
  @keyframes mdl-spinner__layer-1-fade-in-out {
    from {
      opacity: 0.99; }
    25% {
      opacity: 0.99; }
    26% {
      opacity: 0; }
    89% {
      opacity: 0; }
    90% {
      opacity: 0.99; }
    100% {
      opacity: 0.99; } }

  @-webkit-keyframes mdl-spinner__layer-2-fade-in-out {
    from {
      opacity: 0; }
    15% {
      opacity: 0; }
    25% {
      opacity: 0.99; }
    50% {
      opacity: 0.99; }
    51% {
      opacity: 0; } }

  @keyframes mdl-spinner__layer-2-fade-in-out {
    from {
      opacity: 0; }
    15% {
      opacity: 0; }
    25% {
      opacity: 0.99; }
    50% {
      opacity: 0.99; }
    51% {
      opacity: 0; } }

  @-webkit-keyframes mdl-spinner__layer-3-fade-in-out {
    from {
      opacity: 0; }
    40% {
      opacity: 0; }
    50% {
      opacity: 0.99; }
    75% {
      opacity: 0.99; }
    76% {
      opacity: 0; } }

  @keyframes mdl-spinner__layer-3-fade-in-out {
    from {
      opacity: 0; }
    40% {
      opacity: 0; }
    50% {
      opacity: 0.99; }
    75% {
      opacity: 0.99; }
    76% {
      opacity: 0; } }

  @-webkit-keyframes mdl-spinner__layer-4-fade-in-out {
    from {
      opacity: 0; }
    65% {
      opacity: 0; }
    75% {
      opacity: 0.99; }
    90% {
      opacity: 0.99; }
    100% {
      opacity: 0; } }

  @keyframes mdl-spinner__layer-4-fade-in-out {
    from {
      opacity: 0; }
    65% {
      opacity: 0; }
    75% {
      opacity: 0.99; }
    90% {
      opacity: 0.99; }
    100% {
      opacity: 0; } }

  /**
  * Patch the gap that appear between the two adjacent
  * div.mdl-spinner__circle-clipper while the spinner is rotating
  * (appears on Chrome 38, Safari 7.1, and IE 11).
  *
  * Update: the gap no longer appears on Chrome when .mdl-spinner__layer-N's
  * opacity is 0.99, but still does on Safari and IE.
  */
  .mdl-spinner__gap-patch {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit; }
    .mdl-spinner__gap-patch .mdl-spinner__circle {
      width: 1000%;
      left: -450%; }

  .mdl-spinner__circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit; }
    .mdl-spinner__circle-clipper .mdl-spinner__circle {
      width: 200%; }

  .mdl-spinner__circle {
    box-sizing: border-box;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
            animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .mdl-spinner__left .mdl-spinner__circle {
      border-right-color: transparent !important;
      -webkit-transform: rotate(129deg);
          -ms-transform: rotate(129deg);
              transform: rotate(129deg); }
      .mdl-spinner.is-active .mdl-spinner__left .mdl-spinner__circle {
        -webkit-animation: mdl-spinner__left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
                animation: mdl-spinner__left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
    .mdl-spinner__right .mdl-spinner__circle {
      left: -100%;
      border-left-color: transparent !important;
      -webkit-transform: rotate(-129deg);
          -ms-transform: rotate(-129deg);
              transform: rotate(-129deg); }
      .mdl-spinner.is-active .mdl-spinner__right .mdl-spinner__circle {
        -webkit-animation: mdl-spinner__right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
                animation: mdl-spinner__right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

  @-webkit-keyframes mdl-spinner__left-spin {
    from {
      -webkit-transform: rotate(130deg);
              transform: rotate(130deg); }
    50% {
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg); }
    to {
      -webkit-transform: rotate(130deg);
              transform: rotate(130deg); } }

  @keyframes mdl-spinner__left-spin {
    from {
      -webkit-transform: rotate(130deg);
              transform: rotate(130deg); }
    50% {
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg); }
    to {
      -webkit-transform: rotate(130deg);
              transform: rotate(130deg); } }

  @-webkit-keyframes mdl-spinner__right-spin {
    from {
      -webkit-transform: rotate(-130deg);
              transform: rotate(-130deg); }
    50% {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg); }
    to {
      -webkit-transform: rotate(-130deg);
              transform: rotate(-130deg); } }

  @keyframes mdl-spinner__right-spin {
    from {
      -webkit-transform: rotate(-130deg);
              transform: rotate(-130deg); }
    50% {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg); }
    to {
      -webkit-transform: rotate(-130deg);
              transform: rotate(-130deg); } }
/* END   - MATERIAL DESIGN LIGHT v1.0.6 - SPINNER ----*/

/* START - JF SPINNER ----*/
  #jf_preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    direction:ltr;
  }
  #jf_preloader .status {
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  #jf_preloader .mdl-spinner {
    width: 100%;
    height: 100%;
  }
  #jf_preloader.jf_overlay_slide_in_top .status {
    opacity: 0;
  }
  .mdl-spinner__circle-clipper {
    float: left;
  }
/* END   - JF SPINNER ----*/
